{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-async-to-generator",
    [
      "@babel/plugin-transform-runtime", 
      { "regenerator": true }
    ]
  ],
  "env": {
    "commonjs": {
      "presets": [
        ["@babel/preset-env", {
          "useBuiltIns": false
        }],
      ],
      "plugins": [
        "add-module-exports",
        [
          "@babel/plugin-transform-runtime", 
          { "regenerator": true }
        ]
      ]
    },
    "es": {
      "presets": [
        ["@babel/preset-env", {
          "useBuiltIns": false,
          "modules": false
        }]
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime", 
          { "regenerator": true }
        ]
      ]
    }
  },
  "sourceMaps": true,
  "retainLines": true
}